:root{
    --color-primary:#272D38;
    --color-secondary:#F6F6F6;
    --color-accent:#8EADD5;
    --color-base:#FFF;
    --font-name-primary:'Inter', sans-serif;
    --font-size-12:12px;
    --font-size-14:14px;
    --font-size-16:16px;
    --font-size-18:18px;
    --font-size-28:28px;
    --font-size-32:32px;
    --font-size-40:40px;
    --font-size-48:48px;
    --font-size-64:64px;
}

html{
    scroll-padding-top:30px;
    scroll-behavior: smooth;
}

body{
    background: var(--color-base);
    font-family: var(--font-name-primary);
    color: var(--color-primary);
    width:100%;
    
}

.body{
    position:relative;
}
.body:before{
    content:'';
    position:absolute;
    top:-50px;
    background:url(/images/bg-ellipse.png);
    background-repeat:no-repeat;
    background-size:contain;
    width:100%;
    height:100%;
    z-index:-1;
}

h1{
    color: var(--color-primary);
    font-family: var(--font-name-primary);
    font-size: var(--font-size-40);
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom:24px;
}

h2{
    color: var(--color-primary);
    font-family: var(--font-name-primary);
    font-size: var(--font-size-32);
    font-weight: 700;
    line-height: 100%;
    margin-bottom:25.59px;
}

p{
    color: var(--color-primary);
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
}


a.nav-link{
    color:var(--color-primary);
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 27.5px;
    text-transform: lowercase;
    text-decoration: none;
    position:relative;
    transition:all 0.2s ease;
}

a:hover.nav-link{
    color:var(--color-accent);
    text-decoration: underline;
}

.btn{
    background: var(--color-accent);
    border-radius: 8px;
    width: 140px;
    height: 35px;
    border:none;
}

.btn a{
    font-family: var(--font-name-primary);
    color: var(--color-base);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px;
    text-transform: uppercase;
    text-decoration: none;
}

header{
    margin:46px 24px 0px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.navbar{
    display:flex;
    flex-direction: row;
    gap: 44px;
    
}

.main-wrapper{
   max-width:1065px;
   margin:auto;
}

.section{
    width:auto;
    margin:0 24px;
    text-align:center;
}

/*Section 1*/

.section-1{
    margin-top:101px;
}

.section-1-img,
.section-2-img,
.section-3-img,
.section-5-img
{
    width:100%;
}

.section-1 .btn{
    margin-top:24px;
    margin-bottom:48px;
}


.wrapper-1{
    color:var(--color-secondary);
    font-size:var(--font-size-14);
    font-weight:300;
    margin-top:102px;
}

.wrapper-1 .div-container{
    background:var(--color-secondary);
    padding:31px 16px;
    box-sizing:border-box;
    margin-top:16px;

}
.wrapper-1 .div-box{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 867px;
    margin: auto;
}
.wrapper-1 .div-item-img{
   height:24px;
   
}



/*Section 2*/
.section-2{
    margin-top:88px;
}




/*Section 3*/
.section-3{
    margin-top:100px;
}




/*Section 4*/
.section-4{
    margin-top:120px;
}
.section-4 .div-wrapper{
    padding-top:16px;
}

.section-4 h2{
    padding-top:16px;
}
.section-4 img{
    width: 129px;
    height: 130px;
    border-radius: 96.5px;
    border: 1px solid rgba(222, 220, 219, 0.50);
    margin-bottom:8px;
}
.section-4 .div-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:40px;
}
.section-4  .div-item{
    width: 345px;
    border-radius: 20px;
    background: var(--color-secondary);
    padding:32px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.section-4  .div-item-title{
    color: var(--color-primary);
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
}

.section-4  .div-item-content{
    font-size: var(--font-size-14);
    font-weight: 300;
    line-height: 130%; 
    text-transform: capitalize;
    padding-top:27px;
}

/*Section 5*/
.section-5{
    margin-top:120px;
    padding:56px 36px;
    box-sizing: border-box;
    border-radius: 20px;
    background: var(--color-secondary);
}
.section-5 .div-container{
   
    display:flex;
    align-items:center;
    flex-direction:column;
   
}
.section-5 p{
    padding-bottom:48px;
 }

 /*Footer*/
 footer .div-wrapper{
    margin-top:128px;
    background: var(--color-secondary);
    padding: 104px 24px 24px;
    
 }

 footer .div-container{
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align:center;
 }

 footer .div-item{
    display:flex;
    flex-direction:column;
    justify-content:center;
 }

 footer .footer-link-container{
    display:flex;
    flex-direction:column;
    gap:24px;
 }

 

 footer .footer-title{
    font-size: var(--font-size-18);
    font-weight:700;
    padding-bottom:34px;
 }

 footer a.footer-link{
    color:var(--color-primary);
    font-size: var(--font-size-16);
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
    text-decoration:none;
 }

 footer a:hover.footer-link{
    color:var(--color-accent);
    text-decoration: underline;
 }

 footer .footer-copyright{
    padding-top:92px;
    text-align:center;

 }